# SIMPLE LINEAR REGRESSION ON CCPP DATASET

In [4]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [6]:
data = pd.read_csv('D:/Manipal3rdSem/Machine Learning/mllabupdated13aug/DATASETS-11AUG2022/CCPP/ccpp.csv')

In [8]:
data

         AT      V       AP     RH      PE
0      8.34  40.77  1010.84  90.01  480.48
1     23.64  58.49  1011.40  74.20  445.75
2     29.74  56.90  1007.15  41.91  438.76
3     19.07  49.69  1007.22  76.79  453.09
4     11.80  40.66  1017.13  97.20  464.43
...     ...    ...      ...    ...     ...
9563  15.12  48.92  1011.80  72.93  462.59
9564  33.41  77.95  1010.30  59.72  432.90
9565  15.99  43.34  1014.20  78.66  465.96
9566  17.65  59.87  1018.58  94.65  450.93
9567  23.68  51.30  1011.86  71.24  451.67

[9568 rows x 5 columns]

# In this dataset, PE is the y variable and the rest are x variable

# RH is the x-variable

In [11]:
l1 = data['RH'].tolist()
l2 = data['PE'].tolist()

In [22]:
x = np.array(l1).reshape(-1,1)
y = np.array(l2)

In [23]:
print(x)

[[90.01]
 [74.2 ]
 [41.91]
 ...
 [78.66]
 [94.65]
 [71.24]]

In [25]:
print(y)

[480.48 445.75 438.76 ... 465.96 450.93 451.67]

In [28]:
# model = LinearRegression()

In [29]:
# model.fit(x,y)

In [30]:
model = LinearRegression().fit(x,y)

In [35]:
print("R^2:- ", model.score(x,y))

R^2:-  0.151939440231176

In [37]:
print('Intercept:- ',model.intercept_)

Intercept:-  420.96176615548393

In [39]:
print('slope:- ',model.coef_)

slope:-  [0.4556501]

In [40]:
y_pred = model.predict(x)
print('Response:- ',y_pred)

Response:-  [461.97483186 454.77100374 440.05806194 ... 456.8032032  464.08904833
 453.42227944]